.product-name h2{
    padding: 15px 15px;
    background-color: #1a1f2b;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 5px;
}
.product-content{
    padding-left: 15px;
    padding-right: 15px;
}
.pc-left-side{
    padding: auto 30px;
    text-align: left;
}
.pc-right-side{
    margin-bottom: 15px;
}
.pc-right-side h4{
    padding: 10px 15px;
    background-color: #007199;
    color: #FFFFFF;
    text-align: center;
    line-height: 1;
}
.product-price{
    background-color: #F9F9F9;
    padding: 15px 15px;
}
.product-price p{
    color: #000000;
    font-weight: bold;
}
.product-price span{
    font-size: 18px;
}
.product-price .pp-notice{
    margin-top: 10px;
    font-weight: normal;
    font-style: italic;
    font-size: 12.5px;
}
.product-info{
    margin-top: 5px;
    background-color: #F9F9F9;
    padding: 15px 15px;
    font-size: 16px;
}
.product-contact{
    padding-left: 15px;
    padding-right: 15px;
}
.product-contact a{
    color: #000000;
}
.product-contact i{
    font-size: 18px;
}
.pc-sc{
    margin-top: 5px;
    background-color: #EFEFEF;
    padding: 15px 15px;
    text-align: center;
}
.pc-call{
    background-color: #27ae60;
    color: #FFFFFF;
}
.pc-call a{
    color: #FFFFFF;
}
.pc-right-side .one{
    background-color: #EFEFEF;
}
.product-spec{
    padding-left: 15px;
    padding-right: 15px;
}
.product-spec .row{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pc-gallery iframe{
    width: 100%;
    height: 344px;
}
.pc-gallery img{
    width: 100%;
}
.pc-gallery-item{
    padding: 0.5px;
}
.pc-gallery-item img{
    width: 100%;
}
.deck-plans img{
    width: 85%;
}
.deck-plans{
    margin-bottom: 15px;
}
.deck-plans p{
    margin-top: 25px;
}